.grid-container{
  display:grid;
  grid-template-columns: repeat(12,minmax(0,1fr));
}

@media screen and (min-width: 768px) {
  .s-p6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .m-p10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .l-p20{
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.gap-2 {
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .m-gap-3 {
    gap: 0.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .l-gap-5 {
    gap: 1.25rem;
  }
}

.col-span-12{
  grid-column: span 12/span 12;
}

.center{
  text-aöign:center;
}

.top-m-7{
  margin-top: 7rem;
}

@media (min-width: 768px)
.m-col-span-4 {
    grid-column: span 4/span 4;
}

